@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title{
    @apply text-white font-extrabold text-xl md:text-4xl uppercase tracking-wider cursor-default;
  }

  .button {
    @apply bg-indigo-700 hover:bg-white hover:text-indigo-700 uppercase font-bold text-white text-sm md:text-base px-5 py-3 rounded-md hover:drop-shadow-indigo;
  }
}

.animate-gradient {
  background: linear-gradient(-45deg,#334155,#1f2937, #0F172A);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
